.form_container {
    width: 100%;
    .form_box{
        width: 100%;
        max-width: 500px;
        margin:auto;
        height: 100%;
        border-radius: 15px;
        background-color: royalblue;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        input{
            width: 100%;
            height: 40px;
            border-radius: 5px;
            border: none;
            margin: 10px auto;
        }
        .instruction {
            display: block;
            width:100%;
            background-color: rgb(141, 34, 141);
            border-radius: 5px;
            color: #fff;
            padding: 5px;
            font-size: 12px;
        }

        .offscreen  {
            display: none;
        }
        .submit_btn{
            margin-top: 20px;
        }
    }
}